@model ReplacementAsset.Models.NewAssetReplacement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NewAssetReplacement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetRequest.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewSerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewSerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReplace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReplace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
